*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}

header img{
    margin: 30px;
    margin-left: 100px;
}

header span{
    font-size: 1.3rem;
    position: relative;
    top: 60px;
}

header .links{
        display: flex;
}

header .links ul{
    display: flex;
    list-style: none;
}

header .links ul li{
    padding: 65px;
}


header ul a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

header select{
  width: 80px;
  height: 20px;
}

header button{
    width: 100PX;
    height: 55PX;
    font-weight: bold;
    background-color: rgb(227, 226, 226);
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 10px;
    position: relative;
    top: 50px;
} 
header .sign-up {
   background-color: black;
   color: white;
}

main {
    display: flex;
    justify-content: space-around;
    }

    main .testimonial img{
        position: 500px;
        
    }
    main .reliabilities button{
        width: 200PX;
        height: 50PX;
        font-weight: bold;
        background-color: black;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        position: relative;
        bottom: 0;  
        color: white;
    }
       section{
        display: flex;
        justify-content: space-around;
     }

 
  footer .company{
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  footer .policies{
    padding: 50px;
  }

  footer{
    background-color: #008080;
    color: white;
    position: relative;
    top: 170px;
    padding: 100px;
  }


  footer .about{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  footer ul li{
    list-style: none;
    padding-top: 10px;
  }

  footer hr{
   
    color: gray;
    ;
  }

  .copyright a{
    text-decoration: none;
    color: white;
  }

  .copyright a:hover{
    text-decoration: underline;
    transition:all ease-in-out 1s;
  }
  
  .policies{
    text-align: center;
  }

  .policies img{
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
    left: 2px;
  }

  .policies a {
    text-decoration: none;
    color: whitcontainer 
    position  relative;
    background: white; /* Default background */
    z-index : 1;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 78%;
    height: 63%;
    background: #008080;
    font-weight: bold;
    clip-path: polygon(75% 0,100% 0,100% 100%,52% 100%);
    z-index: -1;
  }

  .policies a:hover{
    text-decoration: underline;
    transition:all ease-in-out 1s;
  }
 



    

